body{
    background-color: rgb(79, 84, 179);
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-galerie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    margin: 0;
}
img{
    width: 400px;
    height: 500px;
    margin: 10px;
}